
/* Universal Styles */

h3 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

a {
  color: black;
  visited: black;
  linkcolor: black;
}

/* header*/

.header {
  top: 0;
  left: 0;
  width: 100%;
  top: 10px;
  display: flex;
  direction: row;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
  position: fixed;
  top: 0;
  left: 0;
}

.menu {
 font-family: Verdana;
 font-size: 14px;
 font-weight: bold;
 display: flex;
 direction: row;
 justify-content: space-around;
 width: 280px;
 height: auto;
 margin-right: 30px;
}

.logo{
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: MediumAquamarine;
  display: flex;
  direction: row;
  height: 60px;
  width: 160px;
  margin-left: 10px;
  justify-content: space-between;
  align-items: center;
}

/* body */

.content {
    overflow: scroll;
    color: black;
    padding-top: 90px;
    display: flex;
    justify-content: space-between;
    font-family: Georgia;
    font-size: 17px;
    color: black;
}

.titel {
  border: 1px solid black;
}

/* column left */

.column_left {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 630px;
  margin-right: 30px;
}

.titelmain {
  background-image: url("../images/img-story-main.png");
  height: 300px;
  width: 630px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
}

.puget {
  width: 299px;
}

.titelearth {
  display: flex;
  text-align: center;
  background-image: url("../images/img-story-2.png");
  height: 300px;
  width: 299px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.mewyork {
  width: 299px;
}

.titelcamera {
  display: flex;
  text-align: center;
  background-image: url("../images/img-story-3.png");
  height: 300px;
  width: 299px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

/* column middle*/

.column_middle {
  width: 300px;
  margin-right: 30px;
}

.column_rechts {
  width: 240px;
  margin-right: 30px;
}

.titelcats {
  display: flex;
  background-image: url("../images/img-story-1.png");
  height: 300px;
  width: 299px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}

.cat {

}

/* column right*/

.bites {
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  display: flex;
  flex-flow: column nowrap;
}

.bite {
  border-bottom: 1px solid Dimgrey;
  padding-left: 10px;
}

/* footer*/

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 300px;
  width: 100%;
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
  margin-top: 30px;
}

.mytimes {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  width: 120px;
  height: 20px;
  border-right: 2px solid white;
}

.footermenu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 20px;
  width: 380px;
}
