.header {
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  top: 10px;
  display: flex;
  direction: row;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

.menu {
 font-family: Verdana;
 font-size: 14px;
 font-weight: bold;
 display: flex;
 direction: row;
 justify-content: space-around;
 width: 280px;
 height: auto;
 margin-right: 30px;
}

.logo{
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: MediumAquamarine;
  display: flex;
  direction: row;
  height: 60px;
  width: 160px;
  margin-left: 10px;
  justify-content: space-between;
  align-items: center;
}

p {
  z-index: 200;
}
